/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * Colours
 */
$black:             #222;
$grey-dark:         #666;
$grey:              #999;
$grey-light:        #ddd;
$white:             #fff;

$color-text:        $black;
$color-link:        $grey-dark;
$color-shadow:      $black;
$color-selection:   $grey-light;
$color-background:  $white;

$color-overhaul:    #71838e;
$color-facebook:    #3b5998;
$color-twitter:     #00aced;
$color-google:      #434647;


/**
 * Typography
 */
// Font stacks
$font-body:         Merriweather, serif;
$font-heading:      Raleway, sans-serif;

// Typographic scale
$base-font-size:    16px!default;
$base-line-height:  24px!default;

$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;


/**
 * Basic custom style variables.
 */
$site-width:        960px;
$base-radius:       5px;
$sprite-size:       600px 400px;

// Transition settings
$timing:            ease-in-out;

// Grid settings
$layout-gutter:     20px;

// Breakpoints
$breakpoints: (
  "medium"          "screen and (min-width: 30em)",
  "large"           "screen and (min-width: 60em)",
  "retina"          "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
) !default;
